.fira-sans-regular {
    font-family: "Fira Sans", serif;

    font-style: normal;
  }

  .nav{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    max-width: 700px;
    margin: auto;
  }
  .button{
    border: solid 1px green;
    font-size: 8px;
    padding: 4px;
    background-color: none ;
    border-radius: 5px;

  }
  .bangla{
    font-weight: bold;
  }
  .section-one{
    background-color: #C6E4D6 ;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    max-width: 800px;
    margin: auto;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
.hero{
  width: 250px;
  height: 250px;
  padding: 10px;
}
.Explore{
  background-color: green;
  color: white;
  border:none;
  padding: 10px;
  border-radius: 5px;
  font-size: 8px
  
  
}
.section-two{
  max-width: 800px;
  margin: auto;
  font-size: 10px;

} 
.card-one{
  background-color:gainsboro;
  padding: 5px;
  border-radius: 5px;
  
}
.card-img{
  width: 40px;
  margin-top: 10px;
}
.pillars{
  display:flex;
  gap: 5px;

  
}
.section-tree{
  max-width: 800px;
  margin: auto;

}
.title{
  font-size: 10px;
  color: gray;
}

.digital{
  background-color: #a4c3f7;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
}
.digital-2{
  background-color: #C6E4D6;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
}
.digital-3{
  background-color: #F7EBCF;
  margin: 10px;
  padding: 8px;
  border-radius: 8px;
}
.IMG3{
  width: 40px;
}
.button-4{
  background-color: #5490F5;
  color: white;
  border:none;
  padding: 6px;
  border-radius: 5px;
  font-size: 8px
}
.button-3{
  background-color: #09A15C;
  color: white;
  border:none;
  padding: 6px;
  border-radius: 5px;
  font-size: 8px
}
.button-2{
  background-color: #FFC239;
  color: white;
  border:none;
  padding: 6px;
  border-radius: 5px;
  font-size: 8px
}
.digital-one{
  display: flex;
}
.qwes{
  width: 15px;
  position: absolute;
  
}


.news{
  background-color: rgb(249, 249, 243);
  padding: 10px;
  display: flex;
  gap: 10px;
  align-items: center;
  border-radius: 10px;
  margin-top: 20px;

}
.newsatellite{
  border-radius: 8px;
  width: 200px;
}
.satalight{
  width: 60px;
}
.Subscribe-one{
  background-color:#C6E4D6 ;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
  .Subscribe-four{
  align-items: center;
  text-align: center;
  }
  .bang2{
    border-bottom: 1px solid black ;
    padding: 20px;
  }
  /* donate */
  .Taka{
    background-color: #F7EBCF;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
  }
  .takas{
    background-color: #C6E4D6;
    padding: 20px;
    border: none;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  